body {
	background-color: #ffffff;
	font: 12px Georgia, sans-serif;
	color: #4a4a4a;
	margin:0;
}
 #logo p{
	font: 26px Georgia, sans-serif;
	margin:25px 0 0 20px;
}

#motto p {
	color: #999999;
	margin: 10px 0 0 20px;
}
input{
	background-color: #353535;
	height:32px;
	width:217px;
	padding: 0 10px;
	vertical-align:top;
	border-radius: 10px;
	color:#ffffff;
	border:none;
	margin-right:5px;
}
form[name="search Our Website"]{
	float:right;
	margin-right: 50px;
}
button{
	color:#fff;
	background-color: #d54346;
	height:32px;
	width:68px;
	border-radius: 10px;
	border:none;
}

nav {
	border-bottom: 1px solid #d8d8d8;
	margin: 0 20px 0 15px;
}
nav a{
	text-decoration: none;
	color:#999999;
}
nav ul{
	margin-left:20px;
	padding:0;
}
nav li{
	padding-right:30px;
}
.menu li{
	display:inline-block;
	margin-top:40px;
}
.menu li a:hover{
	color:#d54346;
}
#heading h1{
	color:#666666;
	font-size: 16px;
	margin:30px 0 25px 20px;
}
section{
	border-bottom: 1px solid #d8d8d8;
	margin:30px 20px 0 15px;

}
section p{
	color:#d8d8d8;
}
section .photo{
	height:145px;
	width:225px;
	padding:5px;
	border: 1px solid #d8d8d8;
	margin: 0 25px 0 0;
	float:left;
}
section #alignment{
	margin-left:25px;
}
section button{
	width:110px;
	margin:5px 0 35px 20px;	
}

footer {
	width: 100%;
}

#copywrite {
	width:50%;
	float: left;
	color:#d8d8d8;
}

#copywrite p {
	margin: 20px 0 0 20px;
}

#template{
	width: 50%;
	text-align: right;
	float:left;
	color:#d8d8d8;
}

#template p {
	margin: 20px 50px 0 0;
}

